.list{
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    padding-inline-start:0;
}

@media (min-width: 600px) {
    .list{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}