.footer{
    width: 100%;
    padding: 16px;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: hsl(238, 80%, 25%);
    border-color: hsl(100, 0%, 75%);
    color: hsl(200, 50%, 75%);
}